<h5>Login</h5>

<div class="row">
    <div class="input col s6">
        <input id="usuario" type="text" class="validate">
        <label class="active" for="usuario">Usuário</label>
    </div>
</div>

<div class="row">
    <div class="input col s6">
        <input id="senha" type="password" class="validate">
        <label class="active" for="senha">Senha</label>
    </div>
</div>

<button class="btn-send" type="submit" name="action" (click)='login()'>
    Login
</button>