<div class="header">
    <h3> Usuários </h3>
    <h5>Lista de Usuários</h5>
</div>
<div class="conteiner">
    <div class="conteiner-usuarios" *ngFor=" let usuario of usuarios">
        {{ usuario }}
        <div class="divider"></div>
    </div>

</div>