.conteiner {
    background-color: gainsboro;
    margin: 15px;
    width: 200px;
    border-radius: 08px;
}

.conteiner-usuarios, .header{
    margin: 0px 05px;
    padding-top: 10px;
}

.divider{
    border: 1px solid silver;
}